---
import "@styles/global.css"
import BaseHead from "@components/BaseHead.astro";

export interface Props {
  pageTitle: string;
  pageDescription: string;
  pageType: string;
  pagePubDate: string;
}

import { getLangFromUrl } from "@i18n/utils";
import Navbar from "@components/Navbar.astro";

// Language and locale detection

const lang = getLangFromUrl(Astro.url);
const { pageTitle, pageDescription, pageType, pagePubDate } = Astro.props;

---

<!DOCTYPE html>
<html lang={lang}>
  <head>
       <!-- Global Metadata -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml">
    <meta name="generator" content={Astro.generator} />
    <BaseHead pageTitle={pageTitle} pageDescription={pageDescription} pageType={pageType} lang={lang} pagePubDate={pagePubDate} />

  </head>
  <body class="bg-black min-h-screen">
    <Navbar />
    <main class="max-w-[650px] m-auto py-[125px] px-[1rem]">
      <slot />
    </main>
  </body>
</html>
