---
import "@styles/global.css"

export interface Props {
  pageTitle: string;
  pageDescription: string;
  pageType: string;
  pageImage: string;
}

import { SEO } from "astro-seo";
import { getLangFromUrl } from "@i18n/utils";
import Navbar from "@components/Navbar.astro";

// Language and locale detection

const lang = getLangFromUrl(Astro.url);
const getLocale = (lang: string) => {
  switch (lang) {
    case "en":
      return "en_US";
    case "jp":
      return "ja_JP";
    case "ru":
      return "ru_RU";
    default:
      return "en_US";
  }
};
const locale = getLocale(lang);

const { pageTitle, pageDescription, pageType, pageImage = "/default-og.png" } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);


---

<!DOCTYPE html>
<html lang={lang}>
  <head>
       <!-- Global Metadata -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml">
    <meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={pageDescription} />

<!-- Open Graph Tags -->
<meta property="og:title" content={pageTitle} />
<meta property="og:image" content={pageImage} />
<meta property="og:type" content={pageType} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:description" content={pageDescription} />
<meta property="og:locale" content={locale} />
  </head>
  <body class="bg-black min-h-screen">
    <Navbar />
    <main class="max-w-[650px] m-auto py-[125px] px-[1rem]">
      <slot />
    </main>
  </body>
</html>
