---
import Layout from "@layouts/Layout.astro";

import { getCollection, getEntryBySlug } from "astro:content";

const ruPosts = await getCollection("posts", ({ id }) => {
  return id.startsWith("ru/");
});

const enPosts = await getCollection("posts", ({ id }) => {
  return id.startsWith("en/");
});
---

<Layout pageTitle="Posts" href="/posts">
  <main class="bg-black text-white">
    <div class="pt-20 p-6 max-w-2xl break-words m-auto">
      <ul class="flex justify-around pb-10"></ul>
      <p class="pb-20 text-center">
        Здесь пока что ничего нет, все статьи снизу - шаблон
      </p>

      {
        enPosts.map((post) => (
          <article class="pb-10">
            <header class="pb-10 flex flex-col">
              <a href={`/posts/${post.slug}`}>
                <img src={post.data.image.url} alt={post.data.image.alt} />
              </a>
              <a class="mt-[35px]" href={`/posts/${post.slug}`}>
                <h2 class="text-2xl text-black text-left leading-10">
                  <span
                    style={{
                      background: `${post.data.accent}`,
                      paddingLeft: "0.4rem",
                      paddingRight: "0.4rem",
                      paddingBottom: "0.2rem",
                      display: "inline",
                      boxDecorationBreak: "clone",
                      lineHeight: "2.8rem",
                    }}
                  >
                    {" "}
                    {post.data.title}
                  </span>
                </h2>
              </a>
            </header>
          </article>
        ))
      }
    </div>
  </main>
</Layout>
