---
export const prerender = true;

import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const mainWorks = await getCollection("works", ({ id, data }) => {
  return id.startsWith(`${lang}/`) && data.art !== true;
});

const artWorks = await getCollection("works", ({ id, data }) => {
  return id.startsWith(`${lang}/`) && data.art === true;
});
---

<Layout pageTitle="My Works">
  <div class="py-24 text-white">
    <h2 class="text-5xl pb-10">{t(`works.works`)}</h2><hr />
  </div>

  <div class="grid md:grid-cols-2 grid-cols-1 gap-7">
    {
      mainWorks.map((work) => (
        <a href={`./works/${work.slug.split("/")[1]}`} class="pb-10">
          <img
            src={work.data.image.url}
            alt={work.data.image.alt}
            class="pb-[1rem] w-full object-cover"
          />

          <div class="flex justify-center flex-col">
            <h3 class="text-2xl inline leading-[2rem] px-[0.4rem] text-white text-center decoration-clone">
              {work.data.title}
            </h3>
            <p class="pt-4 text-white text-center">{work.data.description}</p>
          </div>
        </a>
      ))
    }
  </div>

  <div class="py-24 text-white">
    <h2 class="text-5xl pb-10">{t(`works.art`)}</h2><hr />
  </div>

  <div class="grid md:grid-cols-2 grid-cols-1 gap-7">
    {
      artWorks.map((art) => (
        <a href={`./works/${art.slug.split("/")[1]}`} class="pb-10">
          <img
            src={art.data.image.url}
            alt={art.data.image.alt}
            class="pb-[1rem] w-full object-cover"
          />

          <div class="flex justify-center flex-col">
            <h3 class="text-2xl inline leading-[2rem] px-[0.4rem] text-white text-center decoration-clone">
              {art.data.title}
            </h3>
            <p class="pt-4 text-white text-center">{art.data.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
